/* Global */
body {
  font-family: arial;
  font-size: 14px;
  color: #3c4043;
}

a {
  text-decoration: none;
  color: black;
}
li {
  padding: 0 15px;
}

ul {
  display: flex;
  align-items: center;
}
/* Nav */

nav.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
}

.top-left {
  display: flex;
  margin-left: 15px;
}

.top-right {
  display: flex;
  align-items: center;
  margin-right: 15px;
  width: max-content;
}
.ul-top-left {
  display: flex;
  height: 100%;
}

/* Logo+Search */

.logo-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10%;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
}
.search-bar {
  display: flex;
  flex: ;
  align-items: center;
  width: 400px;
  height: 40px;
  border: #9aa0a6 solid 1px;
  margin: 30px 0;
  border-radius: 25px;
  padding: 10px, 10px;
  opacity: 50%;
}
.glass {
  height: 30px;
  width: 30px;
  fill: #9aa0a6;
  opacity: ;
}
.search-bar input {
  width: 350px;
  height: 25px;
  border: none;
  margin: 5px, 5px;
}
input:focus {
  border: none;
}
.button-container {
  display: flex;
}
button {
  margin: 0px 40px;
  min-width: 54px;
  height: 36px;
  border: none;
  background-color: #f8f9fa;
  border-radius: 4px;
}
/* Footer */
.footer-container {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  background-color: darkgray;
}

footer {
  width: 100%;
  height: 50%;
  display: flex;
  background-color: #f2f2f2;
}
.footer p {
  padding-left: 15px;
}

.footer-top {
  border-bottom: black 3px solid;
  align-items: center;
}

.ul-bot-mid {
  justify-content: center;
  width: 100%;
}

.ul-bot-right {
  justify-content: flex-end;
  width: 100%;
}

.ul-bot-left {
  justify-content: flex-start;
  width: 100%;
}
